.cproject
.project
.sconsign.dblite
.settings/
**/*.o
**/lib*.a
**/valgrind*.log
**/obj
build/*
install/*
/build/
**/*.swp
**/*.swo
reports/clang-tidy-report
compile_commands.json
cscope*
*gcda
*gcno
*gcov
